.container-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh; /* Isso faz com que o contêiner final ocupe toda a altura da tela */
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    margin-bottom: 2vh;
}

.Exames-container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.Exames-container > div {
    margin-bottom: 10px; 
}

.baixar {
    font-family: 'Poppins', sans-serif;
    margin-left: 1vw;
}
